---
Checks: >          
  -*,
  bugprone-*,-bugprone-easily-swappable-parameters,-bugprone-macro-parentheses,-bugprone-exception-escape,
  cppcore*, -cppcoreguidelines-owning-memory,-cppcoreguidelines-special-member-functions,-cppcoreguidelines-pro-bounds-constant-array-index,-cppcoreguidelines-avoid-magic-numbers,-cppcoreguidelines-pro-bounds-array-to-pointer-decay,-cppcoreguidelines-macro-usage,-cppcoreguidelines-avoid-c-arrays,-cppcoreguidelines-pro-type-union-access,-cppcoreguidelines-pro-type-reinterpret-cast,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-member-init,
  performance*,
  modernize*, -modernize-use-trailing-return-type,-modernize-avoid-c-arrays,-modernize-use-nullptr,
  readbility*,
  portability*,
WarningsAsErrors: true
HeaderFilterRegex: '.*'
AnalyzeTemporaryDtors: true
FormatStyle:     file
CheckOptions:
  - key:             readability-identifier-naming.IgnoreFailedSplit
    value: '0'
  - key:             readability-identifier-naming.ClassCase
    value: lower_case
  - key:             readability-identifier-naming.ClassConstantCase
    value: lower_case
  - key:             readability-identifier-naming.ClassMemberCase
    value: lower_case
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value: '_'
  - key:             readability-identifier-naming.EnumCase
    value: lower_case
  - key:             readability-identifier-naming.FunctionCase
    value: lower_case
  - key:             readability-identifier-naming.GlobalConstantCase
    value: lower_case
  - key:             readability-identifier-naming.GlobalVariableCase
    value: UPPER_CASE
  - key:             readability-identifier-naming.GlobalPointerCase
    value: UPPER_CASE
  - key:             readability-identifier-naming.GlobalFunctionCase
    value: lower_case
  - key:             readability-identifier-naming.MethodCase
    value: lower_case
  - key:             readability-identifier-naming.NamespaceCase
    value: lower_case
  - key:             readability-identifier-naming.ParameterCase
    value: lower_case
  - key:             readability-identifier-naming.StructCase
    value: lower_case
  - key:             readability-identifier-naming.TemplateParameterCase
    value: CamelCase
  - key:             readability-identifier-naming.TypeAliasCase
    value: lower_case
  - key:             readability-identifier-naming.UnionCase
    value: lower_case
  - key:             readability-identifier-naming.VariableCase
    value: lower_case
...

